fonttools==4.55.3
mpmath==1.3.0
Pygments==2.19.1
hydra-core==1.3.2
smmap==5.0.2
dill==0.3.8
tqdm==4.67.1
requests==2.32.3
pandas==2.2.3
pip==24.3.1
safetensors==0.5.2
multiprocess==0.70.16
shellingham==1.5.4
transformers==4.47.1
wheel==0.45.1
cycler==0.12.1
propcache==0.2.1
matplotlib==3.10.0
invoke==2.2.0
rich==13.9.4
nvidia-cuda-runtime-cu12==12.4.127
charset-normalizer==3.4.1
nvidia-nccl-cu12==2.21.5
aiosignal==1.3.2
typing_extensions==4.12.2
psutil==6.1.1
protobuf==5.29.3
gitdb==4.0.12
idna==3.10
loguru==0.7.3
nvidia-curand-cu12==10.3.5.147
frozenlist==1.5.0
datasets==3.2.0
nvidia-cublas-cu12==12.4.5.8
aiohappyeyeballs==2.4.4
multidict==6.1.0
sympy==1.13.1
mdurl==0.1.2
pyarrow==18.1.0
torchmetrics==1.6.1
torch==2.5.1
kiwisolver==1.4.8
wandb==0.19.1
nvidia-cusolver-cu12==11.6.1.9
nvidia-nvtx-cu12==12.4.127
annotated-types==0.7.0
platformdirs==4.3.6
filelock==3.16.1
setuptools==75.8.0
huggingface-hub==0.27.1
PyYAML==6.0.2
pillow==11.1.0
yarl==1.18.3
docker==7.1.0
nvidia-cuda-nvrtc-cu12==12.4.127
tokenizers==0.21.0
tzdata==2024.2
networkx==3.4.2
torchaudio==2.5.1
six==1.17.0
triton==3.1.0
urllib3==2.3.0
typer==0.15.1
setproctitle==1.3.4
docker-pycreds==0.4.0
omegaconf==2.3.0
nvidia-cusparse-cu12==12.3.1.170
numpy==2.2.1
nvidia-cufft-cu12==11.2.1.3
lightning-utilities==0.11.9
nvidia-nvjitlink-cu12==12.4.127
packaging==24.2
attrs==24.3.0
nvidia-cudnn-cu12==9.1.0.70
aiohttp==3.11.11
regex==2024.11.6
MarkupSafe==3.0.2
nlp==0.0.1
GitPython==3.1.44
python-dateutil==2.9.0.post0
contourpy==1.3.1
click==8.1.8
pydantic_core==2.27.2
pyparsing==3.2.1
sentry-sdk==2.20.0
nvidia-cuda-cupti-cu12==12.4.127
fsspec==2024.9.0
pytz==2024.2
certifi==2024.12.14
markdown-it-py==3.0.0
antlr4-python3-runtime==4.9.3
pytorch-lightning==2.5.0.post0
Jinja2==3.1.5
torchvision==0.20.1
pydantic==2.10.5
xxhash==3.5.0
nlp==0.0.1
jaraco.context==5.3.0
zipp==3.19.2
jaraco.text==3.12.1
jaraco.functools==4.0.1
tomli==2.0.1
wheel==0.43.0
jaraco.collections==5.1.0
typing_extensions==4.12.2
platformdirs==4.2.2
typeguard==4.3.0
backports.tarfile==1.2.0
packaging==24.2
more-itertools==10.3.0
importlib_metadata==8.0.0
inflect==7.3.1
autocommand==2.2.2
