site_name: nlp
site_author: group 42
docs_dir: source

theme:
  language: en
  name: material
  features:
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
            separate_signature: true
            show_signature_annotations: true



nav:
  - Home: index.md
  - Model: model.md
  - Train: train.md
